.container{
    width: 98%;
    margin: auto;
    background: linear-gradient(-135deg, white, gold);
    border-radius: 20px;
}
.detail{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width:100%;
    display: flex;
    flex-wrap: wrap;

}
.detail_image{
    width: 50%;
}
.content{
    width: 100%;
    color: black;
}
.description{
    color: black;
}