.mi-boton{
    padding: 1rem;
    background-color: gold;
    cursor: pointer;
    width: 100px;
    height: 100px;
    align-items: center;
   
    
}
.card{display: flex;
flex-direction: row;
flex-wrap: wrap;}
