.card-Container{
    display: flex;
    background-color: gold;
    color: black;
    border-radius: 1rem;
}
.img-card{
    display: flex;
    border-color: white;
    border-radius: 20px;
    margin-left: 10px;
    width: 450px;
    height: 350px;
}
.button
{
    display: flex;
    flex-wrap: wrap;
}