.navbar-list{
    display: flex;
    background-color: rgb(48, 48, 48);
    color: white;
    list-style: none;
    margin: 1rem 1rem 1rem 1rem ;
    justify-content: space-evenly;
    font-size: xx-large;
    cursor: pointer;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0
    ;
}
.navbar-list header{
    font-family: 'Chivo', sans-serif;
    color: gold;
    font-size: 60px;
}